#!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet

In [22]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.10.tar.gz (385 kB)
  Installing build dependencies ... one
  Getting requirements to build wheel ... one
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: psycopg2
  Building wheel for done
  Created wheel for psycopg2: filename=psycopg2-2.9.10-cp312-cp312-linux_x86_64.whl size=635539 sha256=f847e06905dd380c8e5a9aa8d0cbe4fd55584b547b0955572c7cb9141a7790c5
  Stored in directory: /home/codespace/.cache/pip/wheels/ac/bb/ce/afa589c50b6004d3a06fc691e71bd09c9bd5f01e5921e5329b
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10
Note: you may need to restart the kernel to use updated packages.

In [27]:
import pandas as pd

# Replace 'yellow_tripdata_2024-01.parquet' with your actual file path
df = pd.read_parquet('yellow_tripdata_2024-01.parquet')

# Display the shape of the dataframe
print(df.shape)

#df.to_csv('yellow_tripdata_2024-01.csv', index = False )
# Select the first 100 rows
df_subset = df.head(100)

# Display the first few rows of the subset
print(df_subset.shape)
df_subset.head()

(2964624, 19)
(100, 19)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

df_subset.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df_subset.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [20]:
from sqlalchemy import create_engine

In [25]:
engine  = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [26]:
print(pd.io.sql.get_schema(df_subset, name = 'yellow_taxi_data', con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [29]:
df_iter = pd.read_csv('yellow_tripdata_2024-01.csv', iterator=True , chunksize=100000)

In [30]:
df = next(df_iter)

In [31]:
len(df)

100000

In [32]:
df_subset.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df_subset.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [35]:
df.head(n=0).to_sql(name = 'yellow_taxi_data', con=engine, if_exists = 'replace')

0

In [36]:
%time

df.to_sql(name = 'yellow_taxi_data', con=engine, if_exists = 'append')

CPU times: user 4 μs, sys: 0 ns, total: 4 μs
Wall time: 8.11 μs

1000

In [37]:
from time import time

In [38]:
while True:

    time_start = time()
    df = next(df_iter)

    df_subset.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df_subset.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name = 'yellow_taxi_data', con=engine, if_exists = 'append')

    time_end = time()

    print('inserted new chunk....,took %.3f second' %(time_end-time_start))

inserted new chunk....,took 10.294 second
inserted new chunk....,took 11.071 second
inserted new chunk....,took 11.612 second
inserted new chunk....,took 10.704 second
inserted new chunk....,took 11.100 second
inserted new chunk....,took 11.179 second
inserted new chunk....,took 11.074 second
inserted new chunk....,took 11.682 second
inserted new chunk....,took 11.457 second
inserted new chunk....,took 11.449 second
inserted new chunk....,took 10.849 second
inserted new chunk....,took 11.118 second
inserted new chunk....,took 10.842 second
inserted new chunk....,took 12.203 second
inserted new chunk....,took 11.852 second
inserted new chunk....,took 10.982 second
inserted new chunk....,took 11.325 second
inserted new chunk....,took 10.959 second
inserted new chunk....,took 11.912 second
inserted new chunk....,took 11.410 second
inserted new chunk....,took 10.759 second
inserted new chunk....,took 10.860 second
inserted new chunk....,took 11.310 second
inserted new chunk....,took 11.267 second
inserted new chunk....,took 12.199 second
inserted new chunk....,took 10.716 second
inserted new chunk....,took 10.849 second

/tmp/ipykernel_5568/3055641461.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted new chunk....,took 10.117 second
inserted new chunk....,took 5.844 second

StopIteration:

In [ ]:
while True:
    try:
        time_start = time()
        df = next(df_iter)

        # Processing the dataframe
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

        df.to_sql(name = 'yellow_taxi_data', con=engine, if_exists = 'append')

        time_end = time()
    
        print('inserted new chunk....,took %.3f second' %(time_end-time_start))

    except StopIteration:
        print("All chunks have been processed.")
        break